body {
	font: 15px Tahoma, sans-serif;
	background-color: #7FDBFF;
	padding: 4px;
	margin: 10px;
}

h1 {
	font-size: 40px;
	color: #3d3b6b;
}

#myName {
	font-size: 30px;
	color: #332e9e;
	padding: 1px;
}

.info {
	font-size: 20px;
	color: #463fd4;
}

.para1 {
	border: 2px solid black;
	margin: 2px;
	padding: 2px;
	background-color: #39CCCC;
	height: 18rem;
}

.para2 {
	border: 2px solid black;
	margin: 2px;
	padding: 2px;
	background-color: #39CCCC;
	height: 18rem;
}

.para3 {
	border: 2px solid black;
	margin: 2px;
	padding: 2px;
	background-color: #39CCCC;
	height: 18rem;
}

.jumbotron {
  text-align: center;
  padding: 5px 5px 5px 5px;
  height: 10px;
  padding-top: 10px !important;
}

.dropdown-list {
  display: none;
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
}

img {
	height: 18rem;
	padding-top: 12px;
}